@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.light {
  background-color: #f9f9f9;
  color: #1a1a1a;
}

.dark {
  background-color: #363636;
  color: #ffffff;
}
